spring:
  datasource:
    username: root
    password: root
    url: jdbc:mysql://192.168.220.129:3306/mymail_ums
    driver-class-name: com.mysql.jdbc.Driver
  cloud:
    nacos:
      discovery:
        server-addr: 192.168.220.129:8848
  application:
    name: mymail-member
mybatis-plus:
  global-config:
    db-config:
      id-type: auto
  mapper-locations: classpath:/mapper/**/*.xml

server:
  port: 8000